.mainNavDiv {
  display: flex;
  background: #181829;
  min-height: -webkit-fill-available;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}

.noWidth {
  width: 0px;
}

.fullWidth {
  width: 284px;
}

.fullHeight {
  height: 100vh;
}

.logoPlaceholder {
  width: 100%;
  height: 21px;
  margin-top: 64px;
  margin-left: 40px;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roobert";
  font-weight: bold;
  margin-bottom: 67px;
}

.mobileLogo {
  margin-top: 18.59px;
}

.navIcon {
  margin-right: 24px;
  color: #ffffff;
}

.dockRight {
  right: 0px;
  position: absolute;
}

.closeIcon {
  color: white;
  margin-top: 21.41px;
  margin-right: 17.41px;
  align-self: flex-end;
  cursor: pointer;
}

.inviteBtn {
  border-radius: 8px;
  background: #9324f8 !important;
  color: white;
  width: 204px;
  height: 50px;
  align-self: center;
  text-transform: none;
  font-family: "Inter";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.rules {
  margin-top: 26px;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  text-underline-offset: 2px;
}

.closeAndNavLinksDiv {
  display: flex;
  flex-direction: column;
}

.inviteRulesDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}
