.groupLayout {
  margin-top: 16px;
  margin-bottom: 20px;
  flex: 1 1 350px;
  max-width: 350px;
  margin-top: 35px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.groupLayoutMobile {
  margin-top: 16px;
  margin-bottom: 20px;
  flex: 1 1 350px;
  max-width: 350px;
  padding-top: 20px;
}

.memberGroup {
  background: #f8f8f8;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}

.subheader {
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 22px;
  letter-spacing: -0.25px;
  padding-top: 16px;
  margin-bottom: 12px;
  color: #9324f8;
}

.memberTextDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.memberName {
  margin-left: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #181920;
  width: 100%;
}

.roleText {
  margin-left: 15px;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.1px;
  color: #9fa4bc;
}

.box {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.moreBtn {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background: #9324f8 !important;
  color: white;
  width: 100%;
  height: 40px;
  align-self: center;
  text-transform: none;
  font-family: "Inter";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  /*
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}
