.memberGroupContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.memberGroupContainerMobile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
